<template>
  <v-app>
    <v-navigation-drawer
      id="background-navbar"
      v-model="drawer"
      app
    >
      <v-list-item
        id="title"
        class="title"
      >
        <v-list-item-content>
          <v-list-item-title
            id="text"
            class="title-text"
          >
            MVP APP
          </v-list-item-title>
          <v-list-item-subtitle>by Ali shaaban</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-divider />

      <v-list density="compact">
        <template
          v-for="(item, i) in items"
          :key="i"
        >
          <v-list-item
            v-if="(item.needLogin && isLoggedIn) || !item.needLogin"
            class="item-list"
            :to="item.link"
            link
            :value="item"
            active-color="blue"
          >
            <template #prepend>
              <v-icon :icon="item.icon" />
            </template>

            <v-list-item-title
              class="item-text"
              v-text="item.text"
            />
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
      app
      class="upbar"
    >
      <v-app-bar-nav-icon @click="drawer = !drawer" />

      <v-toolbar-title>MVP</v-toolbar-title>
      <v-spacer />
      <login-form v-if="!isLoggedIn" />
      <v-btn
        v-if="isLoggedIn"
      >
        hello {{ user.firstName }}
      </v-btn>
      <v-btn
        v-if="isLoggedIn"
        icon
        @click="logout"
      >
        <v-icon>mdi-exit-to-app</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main
      id="main"
      class="main"
    >
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
import LoginForm from "@/views/components/LoginForm";
import {mapGetters, mapState, mapActions} from "vuex";
import API from "../controllers/content";
export default {
  name: 'App',
  components: {
    LoginForm
  },
  data: () => ({
    drawer: null,
    items: [
      { text: 'Home', icon: 'mdi-home', link: "/", needLogin:false},
      { text: 'Add Article', icon: 'mdi-note-plus', link: "/add-article", needLogin:true },
    ],
    navItems: [
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me' },
      { title: 'Click Me 2' },
    ],
  }),
  computed: {
    ...mapState([
      // map this.count to store.state.count
      'loggingIn',
      'user'
    ]),
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
    })
  },
  methods: {
    ...mapActions([
        'logout'
    ])
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.title#title{
   padding: 25px;
   background-color: rgb(0, 67, 155);
   color: rgba(255, 255, 255, 0.993);
}

.title-text#text{
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   font-weight: bold;
}

#background-navbar{
   background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(https://images.unsplash.com/photo-1550147760-44c9966d6bc7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8&w=1000&q=80);
}

.item-text
{
   font-family: 'Roboto', sans-serif;
   font-size: 15px;
   font-weight: bold;
   padding: 10px;
}

.item-list{
   color: white;
}

.main#main{
   background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3))
}

.upbar{
   background-color: red;
}

</style>
