<template>
  <v-container>
    <v-row no-gutters>
      <v-col
        sm="10"
        class="mx-auto"
      >
        <v-card class="pa-5">
          <v-card-title>Create New Article</v-card-title>
          <v-divider />
          <v-form
            ref="form"
            class="pa-5"
            enctype="multipart/form-data"
            @submit.prevent="submitForm"
          >
            <v-text-field
              v-model="article.title"
              outlined
              class="ml-3"
              label="Title"
              :rules="rules"
            />
            <EditorView
              ref="editor"
              :model="article"
            />
            <v-btn
              type="submit"
              color="success"
              class="mt-5"
            >
              Add Article
            </v-btn>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import API from '../../controllers/content';
import EditorView from "@/views/components/EditorView";

export default {
  name: 'AddContentView',
  components: {EditorView},
  data(){
    return{
      rules: [(value)=> !!value || 'This field is required'],
      rules_image: [(value)=> !value || !value.length || value[0].size > 0 || 'This field is required'],
      article: {
        title: "",
        content: "",
      },
    };
  },
  methods: {
    selectFile(event){
      this.image = event.target.files[0];
    },

    async submitForm(){
      const formData = new FormData();

      window.editor.save().then( async savedData => {
        formData.append('content', JSON.stringify(savedData, null, 4));
        formData.append('title', this.article.title);
        if (this.$refs.form.validate()){
          const response = await API.createArticle(formData);
          this.$router.push({name: 'HomeView', params: { message: response.message}});
        }
      })

    },
  },
};
</script>

<style lang="">
    
</style>