<template>
  <v-container>
    <v-row>
      <v-col
        sm="10"
        class="pa-4 mx-auto"
      >
        <v-card class="pa-2">
          <v-card-title class="headline">
            <h3 class="ml-5">
              {{ article.title }}
            </h3>
          </v-card-title>
          <v-card-text class="grey--text">
            <v-item-group
              multiple
            >
              <v-container
                style="height: 800px"
                class="overflow-y-auto"
              >
                <v-row
                  v-for="(block, i) in blocks"
                  :key="i"
                >
                  <v-col
                    v-for="(image,j) in block.data.images"
                    :key="j"
                    :cols="3"
                  >
                    <v-item>
                      <v-card
                        class="d-flex align-center pa-2"
                        dark
                        height="200"
                      >
                        <v-scroll-y-transition>
                          <v-img
                            :src="image"
                            class="text-right pa-2"
                            gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                            height="200px"
                            cover
                          />
                        </v-scroll-y-transition>
                      </v-card>
                    </v-item>
                  </v-col>
                </v-row>
              </v-container>
            </v-item-group>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import API from '../../controllers/content';
import {th} from "vuetify/lib/locale";

export default {
    name: 'ContentView',

    data(){
        return{
            article: {},
            blocks: {},
        }
    },
    async mounted(){
        const response = await API.getArticleById(this.$route.params.id);
        this.article = response;
        let data = JSON.parse(this.article.content)
        this.blocks = data.blocks
    },
}
</script>

<style lang="">
    
</style>