<template>
  <v-container>
    <v-alert
      v-if="$route.params.message"
      border="left"
      close-text="Close Alert"
      color="green accent-4"
      dark
      dismissible
    >
      {{ $route.params.message }}
    </v-alert>
    <v-row no-gutters>
      <v-col
        v-for="article in articles"
        :key="article.id"
        sm="3"
        class="pa-3"
      >
        <v-card
          class="pa-1"
          :to="'/content/' + article.id"
        >
          <v-img
            max-height="250"
            :src="article.image"
          />
          <v-card-title class="headline">
            {{ article.title }}
          </v-card-title>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import API from '../../controllers/content';

export default {
  name: 'HomeView',
  data() {
    return {
      articles: [],
    };
  },
  async created() {
    this.articles = await API.getAllArticles();
  }
}
</script>

<style lang="">


</style>