<template>
  <v-container>
    <v-card
      id="codex-editor"
      class="pa-2"
      color="rgb(224 234 235)"
    >
      <v-card-title>Content</v-card-title>
    </v-card>
    <v-card
      v-if="displaySearchModal"
      id="searchContent"
      class="mx-auto modal"
      max-width="600"
      color="#EEE8E7"
    >
      <v-card-title>select from this amazing gif plugin</v-card-title>
      <v-card-text>
        <v-text-field
          v-model="searchKey"
          :loading="searchLoading"
          density="compact"
          variant="solo"
          label="Search templates"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          class="ma-3"
          @click:append-inner="onSearchClick"
        />

        <v-item-group
          v-model="selection"
          multiple
        >
          <v-container
            style="height: 300px"
            class="overflow-y-auto"
          >
            <v-row>
              <v-col
                v-for="(card, i) in cards"
                :key="i"
                :cols="card.flex"
              >
                <v-item v-slot="{ isSelected, toggle }">
                  <v-card
                    :color="isSelected ? 'primary' : ''"
                    class="d-flex align-center pa-2"
                    dark
                    height="200"
                    @click="toggle"
                  >
                    <v-scroll-y-transition>
                      <v-img
                        :src="card.src"
                        class="text-right pa-2"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                        height="200px"
                        cover
                      />
                    </v-scroll-y-transition>
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-container>
        </v-item-group>
      </v-card-text>
      <v-card-actions>
        <v-btn
          variant="text"
          color="teal-accent-4"
          @click="selectImages"
        >
          select
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import API from '../../../controllers/content';

import EditorJS from "@editorjs/editorjs";
import Header from "@editorjs/header";
import Paragraph from "@editorjs/paragraph";
import Image from "@editorjs/image";
import List from "@editorjs/list";
import Gif, {emitter} from "../../plugin/gif";
export default {
  name: 'EditorView',
  props: {
    model: {
      type: Object,
      default: () => {}
    },
  },
  data() {
    return {
      searchKey: "random",
      image: "",
      show: false,
      cards: [],
      selection: [],
      searchLoading: false,
      displaySearchModal:false,
      selectedItems: []
    };
  },

  async mounted () {
    this.myEditor();
  },
  methods: {
    myEditor: function () {
      window.editor = new EditorJS({
        holder: "codex-editor",
        autofocus: true,
        /**
         * This Tool will be used as default
         */
        initialBlock: "paragraph",
        tools: {
          header: {
            class: Header,
            shortcut: "CMD+SHIFT+H"
          },
          paragraph: {
            class: Paragraph,
            config: {
              placeholder: "."
            }
          },
          gif: {
           class: Gif,
            config: {
              uploadImage: () => {
                this.displaySearchModal = true
                return new Promise(this.wait)
              }
            },
          }
        },

        onReady: function() {
          console.log("ready");
        },
        onChange: function() {
          console.log("change");
        }
      })
    },
    async onSearchClick () {

      this.searchLoading = true
      this.cards = []
      const gifs = await API.findGifs(this.searchKey);
      gifs.forEach((value) => {
        this.cards.push({
          title:  value.title,
          src: value.images.fixed_height.url,
          flex: 3
        })
      })
      this.searchLoading = false
    },
    selectImages() {
      this.selection.forEach((value) => {
        this.selectedItems.push(this.cards[value])
      });
      this.displaySearchModal = false;
      this.selection = [];

    },
    wait(resolve,reject) {
      if (this.displaySearchModal)
      {
        setTimeout(this.wait.bind(this, resolve, reject), 4000)
      }
      else resolve(this.selectedItems)
    }
  }
};
</script>
<style>
.modal {
  display:block; /* Stay in place */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 500px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255 255 255); /* Black w/ opacity */
}
</style>