<template>
  <v-dialog
    v-model="dialog"
    persistent
    max-width="600px"
  >
    <template
      #activator="{ props }"
    >
      <v-btn
        color="primary"
        v-bind="props"
      >
        Login
      </v-btn>
    </template>
    <v-row>
      <v-col>
        <v-card
          elevation="2"
          shaped
          class="mx-auto px-6 py-8"
          max-width="600"
        >
          <v-form
            v-model="form"
            @submit.prevent="onSubmit"
          >
            <v-text-field
              v-model="user.username"
              :readonly="loading"
              :rules="[required]"
              class="mb-2"
              clearable
              placeholder="user: ali"
              label="Username"
            />

            <v-text-field
              v-model="password"
              :readonly="loading"
              :rules="[required]"
              clearable
              label="Password"
              placeholder="pass: 123456"
            />

            <br>
            <v-btn
              :disabled="!form"
              :loading="loggingIn"
              block
              color="success"
              size="large"
              type="submit"
              variant="elevated"
            >
              Sign In
            </v-btn>
            <v-btn
              block
              color="teal-accent-4"
              size="large"
              variant="elevated"
              class="mt-2"
              @click="dialog = false"
            >
              Close
            </v-btn>
          </v-form>
        </v-card>
      </v-col>
    </v-row>
  </v-dialog>
</template>
<script>
import API from '../../../controllers/content';
import {mapState, mapActions, mapGetters} from 'vuex'

export default {
  name: 'LoginForm',
  data: () => ({
    dialog: false,
    form: false,
    password: null,
    loading: false,
  }),
  computed: {
    ...mapState([
    // map this.count to store.state.count
    'loggingIn',
    'user'
  ]),
    ...mapGetters({
      isLoggedIn: 'isLoggedIn',
    })
  },

  mounted() {
    this.$store.commit('RESET')
    this.loading = this.loggingIn
  },

  methods: {
    ...mapActions([
      'login',
    ]),
    onSubmit() {
      if (!this.form) return;

      this.login([{
        username: this.user.username,
        password: this.password,
      }])

    },
    required(v) {
      return !!v || 'Field is required'
    },
  },
}
</script>