<template>
  <v-container>
    <v-card
      id="test"
      class="mx-auto modal"
      max-width="600"
    >
      <v-card-title>select from this amazing gif plugin</v-card-title>
      <v-card-text>
        <v-text-field
          :loading="searchLoading"
          density="compact"
          variant="solo"
          label="Search templates"
          append-inner-icon="mdi-magnify"
          single-line
          hide-details
          class="ma-3"
          @click:append-inner="onSearchClick"
        />

        <v-item-group multiple>
          <v-container
            style="height: 300px"
            class="overflow-y-auto"
          >
            <v-row>
              <v-col
                v-for="card in cards"
                :key="card.title"
                :cols="card.flex"
              >
                <v-item v-slot="{ isSelected, toggle }">
                  <v-card
                    :color="isSelected ? 'primary' : ''"
                    class="d-flex align-center pa-2"
                    dark
                    height="200"
                    @click="toggle"
                  >
                    <v-scroll-y-transition>
                      <v-img
                        :src="card.src"
                        class="text-right pa-2"
                        gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
                        height="200px"
                        cover
                      />
                    </v-scroll-y-transition>
                  </v-card>
                </v-item>
              </v-col>
            </v-row>
          </v-container>
        </v-item-group>
      </v-card-text>
      <v-card-actions>
        <v-btn
          variant="text"
          color="teal-accent-4"
        >
          select
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</template>

<script>
import API from '../../../controllers/content';
export default {
  name: 'SearchForm',

  data() {
    return {
      cards: [],
      selection: [],
      searchLoading: false,
    };
  },
  methods: {
    async onSearchClick () {
      this.searchLoading = true
      const gifs = await API.findGifs();
      gifs.forEach((value) => {
        this.cards = [];
        this.cards.push({
          title:  value.title,
          src: value.images.fixed_height.url,
          flex: 3
        })
      })
      this.searchLoading = false
    },
  }
};
</script>

<style>
.modal {
  display: none; /* Hidden by default */
  position: absolute; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 70px;
  right: 0;
  bottom: 0;
  width: 100%; /* Full width */
  height: 500px; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255 255 255); /* Black w/ opacity */
}
</style>